node_modules/@types/node/assert.d.ts
node_modules/@types/node/async_hooks.d.ts
node_modules/@types/node/base.d.ts
node_modules/@types/node/buffer.d.ts
node_modules/@types/node/child_process.d.ts
node_modules/@types/node/cluster.d.ts
node_modules/@types/node/console.d.ts
node_modules/@types/node/constants.d.ts
node_modules/@types/node/crypto.d.ts
node_modules/@types/node/dgram.d.ts
node_modules/@types/node/dns.d.ts
node_modules/@types/node/domain.d.ts
node_modules/@types/node/events.d.ts
node_modules/@types/node/fs.d.ts
node_modules/@types/node/globals.d.ts
node_modules/@types/node/globals.global.d.ts
node_modules/@types/node/http.d.ts
node_modules/@types/node/http2.d.ts
node_modules/@types/node/https.d.ts
node_modules/@types/node/index.d.ts
node_modules/@types/node/inspector.d.ts
node_modules/@types/node/LICENSE
node_modules/@types/node/module.d.ts
node_modules/@types/node/net.d.ts
node_modules/@types/node/os.d.ts
node_modules/@types/node/package.json
node_modules/@types/node/path.d.ts
node_modules/@types/node/perf_hooks.d.ts
node_modules/@types/node/process.d.ts
node_modules/@types/node/punycode.d.ts
node_modules/@types/node/querystring.d.ts
node_modules/@types/node/readline.d.ts
node_modules/@types/node/README.md
node_modules/@types/node/repl.d.ts
node_modules/@types/node/stream.d.ts
node_modules/@types/node/string_decoder.d.ts
node_modules/@types/node/timers.d.ts
node_modules/@types/node/tls.d.ts
node_modules/@types/node/trace_events.d.ts
node_modules/@types/node/tty.d.ts
node_modules/@types/node/url.d.ts
node_modules/@types/node/util.d.ts
node_modules/@types/node/v8.d.ts
node_modules/@types/node/vm.d.ts
node_modules/@types/node/wasi.d.ts
node_modules/@types/node/worker_threads.d.ts
node_modules/@types/node/zlib.d.ts
node_modules/@types/node/fs/promises.d.ts
node_modules/@types/node/ts3.1/assert.d.ts
node_modules/@types/node/ts3.1/base.d.ts
node_modules/@types/node/ts3.1/fs.d.ts
node_modules/@types/node/ts3.1/globals.d.ts
node_modules/@types/node/ts3.1/globals.global.d.ts
node_modules/@types/node/ts3.1/index.d.ts
node_modules/@types/node/ts3.1/process.d.ts
node_modules/@types/node/ts3.1/util.d.ts
node_modules/@types/node/ts3.4/base.d.ts
node_modules/@types/node/ts3.4/index.d.ts
node_modules/@types/node/ts3.6/base.d.ts
node_modules/@types/node/ts3.6/index.d.ts
MongoDB/Server/4.4/LICENSE-Community.txt
MongoDB/Server/4.4/MPL-2
MongoDB/Server/4.4/README
MongoDB/Server/4.4/THIRD-PARTY-NOTICES
MongoDB/Server/4.4/bin/InstallCompass.ps1
MongoDB/Server/4.4/bin/mongo.exe
MongoDB/Server/4.4/bin/mongod.cfg
MongoDB/Server/4.4/bin/mongod.exe
MongoDB/Server/4.4/bin/mongod.pdb
MongoDB/Server/4.4/bin/mongos.exe
MongoDB/Server/4.4/bin/mongos.pdb
Database/_mdb_catalog.wt
Database/collection-0--8460022391632642899.wt
Database/collection-2--8460022391632642899.wt
Database/collection-4--8460022391632642899.wt
Database/collection-7--8460022391632642899.wt
Database/index-1--8460022391632642899.wt
Database/index-3--8460022391632642899.wt
Database/index-5--8460022391632642899.wt
Database/index-6--8460022391632642899.wt
Database/index-8--8460022391632642899.wt
Database/mongod.lock
Database/sizeStorer.wt
Database/storage.bson
Database/WiredTiger
Database/WiredTiger.lock
Database/WiredTiger.turtle
Database/WiredTiger.wt
Database/WiredTigerHS.wt
Database/diagnostic.data/metrics.2020-09-19T08-48-39Z-00000
Database/diagnostic.data/metrics.interim
Database/journal/WiredTigerLog.0000000001
Database/journal/WiredTigerPreplog.0000000001
Database/journal/WiredTigerPreplog.0000000002
